<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center="">
        <h3>Enter the right Code</h3>
        <p *ngIf="!didWin()">Tap twice , press four times</p>
        <p *ngIf="didWin()">YOU WIN!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <p>Tapped:{{tapped}}</p>
          </ion-item>
          <ion-item>
            <p>Press:{{pressed}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-reset (didReset)="onDidReset($event)"></app-reset>
    <ion-row>
      <ion-col style="background-color: lightgreen" (tap)="onTap()">tap</ion-col>
      <ion-col style="background-color: lightgreen" (press)="onPress()">press</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
